.blococards{
    background-image: url(https://images.unsplash.com/photo-1571613316887-6f8d5cbf7ef7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    min-height: 100vh;

}
.cards{
    background-color: rgba(211, 211, 200, 0.904);
    border-radius: 8px;
    display: flex;
    box-sizing: border-box;
    border-style: groove;
    border-width: 1px;
    box-sizing: border-box;
    font-size: 10px;
    text-align: center;
    width: 30vw;
    height: 40vh;
}
.cards h4,.cards h5{
    margin: 0;
    font-size: medium;
    box-sizing: border-box;
    padding-bottom: 10px ;
}
.informacoes{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
}

.cerveja{
    width: 30%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}