.mapa{
    text-align: center;
    background-color: rgba(221, 221, 212, 0.747);
    display: flex;
    flex-direction: column-reverse;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 78vh;
}

.mapa h1{
    padding-top: 8%;
}
.footer{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(221, 221, 212,1);
    width: 100%;
    height: 22vh;

}

#socialmedia{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    
    min-height: 7vh;
    border-bottom: groove;
}

#contato{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
}

#cervejaria{
    width: 30%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: flex-end;
    justify-content: center;
}

#icones{
    width: 30%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: flex-end;
    justify-content: center;
    align-items: flex-end;

}

#icones img{
    box-sizing: border-box;
}

#semicones{
    width: 40%;
    height: 100%;
    display: flex;
}

#lista{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    display: inline-block;
}