.mapa{
    background-color: rgba(221, 221, 212, 0.904);
    display: flex;
    flex-direction: column-reverse;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
}

.mapa h1{
    padding-top: 8%;
}
.footer{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgreen;
    width: 100%;
    height: 30vh;

}

